<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.clinicsystem.backend.dao.basic.DoctordutyMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.clinicsystem.backend.pojo.basic.Doctorduty">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="dutyid" column="dutyId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,dutyId
    </sql>
</mapper>
