<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.clinicsystem.backend.dao.basic.GeneralMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.clinicsystem.backend.pojo.basic.General">
        <result property="coding" column="coding" jdbcType="CHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        coding
        ,value
    </sql>
    <select id="findDutyTimeCoding" resultType="java.util.Map">
        SELECT id, value
        FROM general
                 INNER JOIN registrationLevel ON name = coding;
    </select>
    <select id="selectAllByAllDuty" resultType="java.util.Map">
        SELECT id,value FROM dutyTime INNER JOIN general ON id=coding;
    </select>
</mapper>
