<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.clinicsystem.backend.dao.order.MedicaltechnologyMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.clinicsystem.backend.pojo.order.Medicaltechnology">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="departmentid" column="departmentId" jdbcType="VARCHAR"/>
            <result property="projectname" column="projectName" jdbcType="CHAR"/>
            <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
            <result property="technologyname" column="technologyname" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="DisplayDataMedicalTechnology"
               type="sale.ljw.clinicsystem.backend.form.basic.admin.DisplayDataMedicalTechnologyByAdmin">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="projectName" column="projectName" jdbcType="VARCHAR"/>
        <result property="projectCoding" column="projectCoding" jdbcType="VARCHAR"/>
        <result property="introduce" column="introduce" jdbcType="VARCHAR"/>
        <result property="technologyname" column="technologyname" jdbcType="VARCHAR"/>
        <collection property="doctor"
                    javaType="arrayList"
                    ofType="sale.ljw.clinicsystem.backend.form.basic.admin.DisplayDataDoctorInformation"
                    column="id"
                    select="sale.ljw.clinicsystem.backend.dao.basic.MedicaldoctorMapper.findDoctorByMedicalId">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
        </collection>

    </resultMap>

    <sql id="Base_Column_List">
        id,departmentId,projectName,
        introduce,technologyname
    </sql>
    <select id="getMedicalProjectNameList" resultType="java.util.Map">
        SELECT coding id,value
        FROM general
        WHERE coding LIKE 'GM%';
    </select>

    <select id="findMedicalTechnologyList" resultType="map">
        SELECT medicalTechnology.id,department.name,general.value
        projectName,medicalTechnology.introduce,medicalTechnology.technologyname,department.id did
        FROM medicalTechnology
        INNER JOIN department ON department.id=medicalTechnology.departmentId
        INNER JOIN general ON general.coding=medicalTechnology.projectName
        <where>
            <if test="name!=null &amp;&amp; name!=''">
                technologyname LIKE CONCAT('%',#{name},'%')
            </if>
            <if test="(name!=null &amp;&amp; name!='') &amp;&amp; (medicalId!=null &amp;&amp; medicalId!='')">
                AND
            </if>
            <if test="medicalId!=null &amp;&amp; medicalId!=''">
                projectName=#{medicalId}
            </if>
        </where>

    </select>
    <select id="findAllMedicalTechnology"
            resultMap="DisplayDataMedicalTechnology">
        SELECT id,introduce,technologyname,general.value projectName,medicalTechnology.projectName projectCoding
        FROM medicalTechnology
                 INNER JOIN general ON medicalTechnology.projectName=general.coding
        <where>
            <if test="medicalName!=null">
                medicalTechnology.technologyname LIKE CONCAT('%',#{medicalName},'%')
            </if>
            <if test="medicalName!=null &amp;&amp; medicalId!=null">
                AND
            </if>
            <if test="medicalId!=null">
                medicalTechnology.projectName=#{medicalId}
            </if>
        </where>
    </select>
    <select id="findMedicalTechnologyOrder" resultType="java.util.Map">
        SELECT general.value doctorRegis,me.id,doctor.name,registrationLevel.price regisMoney,medicalClassification.money medicalMoney,
               (registrationLevel.price+medicalClassification.money) totalMoney,CONCAT(DATE_FORMAT(me.reserveDate,'%Y年%m月%d日'),doctorTime.value) reserveTime,
               me.queueNumber,DATE_FORMAT(me.appointmentTime,'%Y年%m月%d日 %H时%i分') appointmentTime,me.status statusCoding,generalStatus.value status
        FROM medicalTechnologyReserve me
                 INNER JOIN doctorInformation doctor ON doctor.id=me.doctorId
                 INNER JOIN registrationLevel ON registrationLevel.id=doctor.registereId
                 INNER JOIN general ON registrationLevel.name=general.coding
                 INNER JOIN medicalClassification ON medicalClassification.id=me.medicalId
                 INNER JOIN medicalTechnology ON medicalTechnology.id=medicalClassification.medicalId
                 INNER JOIN general doctorTime ON me.reserveTime=doctorTime.coding
                 INNER JOIN general generalStatus ON generalStatus.coding=me.status
        <where>
            <if test="orderId!=null">
                <bind name="orderIds" value="'%'+orderId+'%'"/>
                    me.id LIKE #{orderIds}
            </if>
        </where>
        ORDER BY statusCoding DESC
    </select>
</mapper>
