<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sale.ljw.clinicsystem.backend.dao.basic.PermissionMapper">

    <resultMap id="BaseResultMap" type="sale.ljw.clinicsystem.backend.pojo.basic.Permission">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="permission" column="permission" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,permission
    </sql>
</mapper>
